<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
		body{
			background-color: #428CC4;
			text-align: center;
			}
            #input{
                border-radius: 7px;
                border-style: hidden;
                height: 35px;
                margin-bottom: 2px;
            }
            
            #btn{
                background-color: rgba(247, 7, 7, 0.726);
                color: aliceblue;
                border-style: hidden;
                margin-top: 5px;
                border-radius: 7px;
                height: 35px;
            }
            #btn:hover{
                cursor: pointer;
                background-color: aliceblue;
                color: black;
            }
            #btn1{
                background-color: rgba(7, 35, 247, 0.915);
                color: aliceblue;
                border-style: hidden;
                margin-top: 5px;
                border-radius: 7px;
                height: 35px;
            }
            #btn1:hover{
                cursor: pointer;
                background-color: aliceblue;
                color: black;
            }
		
	</style>
</head>
<body>
    <form action="" method="POST">
        <input id="input" type="text" name="Title" placeholder="Title of the book..." >
        <br>
        <input id="input" type="text" name="Author" placeholder="Author of the book...">
        <br>
        <button id="btn" type="submit">Add book</button>
    </form>
</body>
</html>